body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f2f6f7;
  background: url('/popcorn.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.film {
    width: 75px;
    margin-top: 30px;
}
.header {
    margin-top: 0;
}
.searchBox {
    width: 276px;
    height: 20px;
    font-size: 15px;
    padding: 7px;
}
.submitButton {
    margin-left: 10px;
    padding: 11px 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
    background: #4d4f54;
    border: 0 none;
    cursor: pointer;
    color: white;
}
.fetching {
    margin: 20px;
    padding: 20px;
}
.results img {
    width: 150px;
}
.results {
    width: 528px;
    margin: 30px auto;
    color: black;
    background: rgba(255, 255, 266, 0.7);
    margin: 0 auto;
    height: 468px;
    padding: 32px;
}
.eachMovie {
    float: left;
    width: 176px;
    height: 241px;
}
img:hover {
    cursor: pointer;
}
.details {
    height: 100%;
}
.details h3 {
    margin: 0 0 17px;
    text-transform: uppercase;
}
.details img {
    margin: 10px;
}
.details p {
    text-align: left;
    margin: 10px;
}
.bold {
    font-weight: 700;
}
.details button {
    margin-top: 15px;
}
.clearfix {
    clear: both;
}
